<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form action="/login_session" method="POST">
    <input type="text" quote="quote" placeholder="Quote">
    <input type="text" name="name" placeholder="Name">
    <input type="text" age="age" placeholder="Age">
</form>
<!-- I DID MORE BUT THE FILE DELETED !!! (its actually my bad but you know it happens khalas) -->

<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->
 
</body>
</html>